body {
    margin: 0;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    margin: 10px auto;
    grid-area: footer;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #F8AD2A;
    font-family: Modak, sans-serif;
}

p {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 26px;
    color: #333;
    line-height: 1.5;
    margin-right: 15%;
}

nav a.logo {
    padding: 0;
}

nav img {
    height: 80px;
}

nav {
    width: 100%;
    background-color: #fffdfd;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25% auto 25%;
}

nav li {
    display: inline;
    font-family: Modak, sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: auto;
    margin: 5px 10%;
}

nav a {
    display: inline;
    color: #F8AD2A;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.spotlight {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spotlight_paragraaf {
    margin-left: 15%;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 26px;
    color: #333;
    line-height: 1.5;
}

figure {
    margin: -10;
}

.spotlight_card {
    margin-top: 10px;
    width: 550px;
    display: block;
    transform: rotate(65deg)
        /* Om eventuele extra ruimte te verwijderen */
}

.spotlight_button {
    background-color: #cae6e2;
    margin-left: 15%;
    font-family: Modak, sans-serif;
    color: white;
    padding: 10px 50px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.spotlight_button:hover {
    box-shadow: 2px 2px 5px #888888;
}

.middle {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 200px;
}

.middle_aside {
    max-width: 500px;
    margin: auto 25px;
}

.middle_button {
    background-color: #dccae4;
    font-family: Modak, sans-serif;
    color: white;
    padding: 10px 40px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px
}
.middle_button:hover {
    box-shadow: 2px 2px 5px #888888;
}

.middle_figure {
    padding: auto 10%;
    width: 400px;
    display: block;
}

.down_h1 {
    margin-top: 200px;
    margin-left: 12%;
    margin-bottom: 100px;
}

.Logo_Livia_th { 
    height: 80px
}

.Logo_Pelicaan_th {
    height: 80px
}

.down_subject { 
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin-right: 15%;
}

.down_dot {
    height: 80px
}

table {
    margin-left: 12%;
    margin-bottom: 160px;
}

small {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 7px;
    color: #333;
    line-height: 1.5; 
 }