/* General style */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    min-width: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    margin: 0;
    grid-area: footer;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #F8AD2A;
    font-family: Modak, sans-serif;
    font-weight: 1;
}

h2 {
    font-size: 35px;
    color: #F8AD2A;
    font-family: Modak, sans-serif;
    font-weight: 1;
}

p {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 26px;
    color: #F8AD2A;
    line-height: 1.5;
    margin-right: 15%;
}

/* Navigatie */
.active {
    text-shadow: 4px 4px 10px #aaa;
}

.active>img {
    filter: drop-shadow(8px 8px 10px gray);
}

nav a.logo {
    padding: 0;
}

nav img {
    height: 80px;
}

nav {
    width: 100%;
}

nav>ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 25% auto 25%;
}

nav>ul>li {
    display: inline;
    font-family: Modak, sans-serif;
    font-size: 24px;
    line-height: 40px;
    height: auto;
    margin: 5px 10%;
    font-weight: 1;
}

nav a {
    display: inline;
    color: #F8AD2A;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

/* Navigatie: categorieen burger */
#menu {
    display: inline;
    font-family: Modak, sans-serif;
    font-size: 24px;
    line-height: 40px;
    height: auto;
    margin: 5px 10%;
    font-weight: 1;
}

#categories {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

#menu input {
    display: none;
}

#menu label {
    cursor: pointer;
    color: #F8AD2A;
    /* padding: 14px; */
}

#menu label:hover {
    color: rgb(255, 255, 255);
}

#menu li {
    list-style: none;
    padding: 10px 0;
    font-size: 18px;
}

#menu ul {
    display: block;
    padding: 0;
    position: absolute;
    right:8%;
    z-index: 2;
    margin: 14px;
    min-width: max-content;
    visibility: hidden;
}

#menu input:checked~ul {
    visibility: visible;
}

/* Spotlight */
.spotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 200px;

    background-image: url('image/wallpaper/index_wal_head.png');
    background-size: calc(100% + 40px) 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.spotlight_paragraaf {
    margin-left: 15%;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 26px;
    color: #ffffff;
    line-height: 1.5;
}

.spotlight_figure {
    margin: 0;
}

.spotlight_card {
    width: 300px;
    display: block;
    transform: rotate(65deg) scale(1.1);
        /* Om eventuele extra ruimte te verwijderen */
}

.spotlight_button {
    text-decoration: none;
    background-color: #cae6e2;
    margin-left: 15%;
    font-family: Modak, sans-serif;
    color: white;
    padding: 10px 50px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 1;
}

.spotlight_button:hover {
    box-shadow: 2px 2px 5px #888888;
}

.middle {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle_aside {
    max-width: 500px;
    margin: auto 25px 15px 25px;
}

.middle_button {
    text-decoration: none;
    background-color: #dccae4;
    font-family: Modak, sans-serif;
    color: white;
    padding: 10px 40px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 1;
}

.middle_button:hover {
    box-shadow: 2px 2px 5px #888888;
}

.middle_figure {
    margin: 0;
    margin-top: 15px;
}

.middle_img {
    padding: auto 10%;
    width: 350px;
    display: block;
    border-radius: 7px;
}

.down {
    padding-top: 200px;

    background-image: url('image/wallpaper/index_wal_footer.png');
    background-size: 100% 115%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.down_h {
    margin-left: 12%;
    margin-bottom: 100px;
}

.Logo_Livia_th {
    height: 68px
}

.Logo_Pelicaan_th {
    height: 68px
}

.down_subject {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    margin-right: 15%;
}

.down_dot {
    height: 80px;
    margin: -15px;
}

table {
    margin-left: 10%;
    margin-bottom: -2px;
}

small {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 7px;
    color: #333;
    line-height: 1.5;
}

.product_img {
    height: 300px;
    border-radius: 7px 7px 0px 0px;
}

figcaption {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-left: 5%;
}


.webshop {
    font-size: 35px;
    color: #F8AD2A;
    font-family: Modak, sans-serif;
    margin: 0 30px 0 15px;
    font-weight: 1;
}

.kader-tekst {
    display: inline-block;
    background-color: #cae6e2;
    font-family: Modak, sans-serif;
    color: white;
    padding: 10px 80px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 15%;
    font-weight: 1;
}

#cat_baby {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: inline-block;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease 0.5s;
    border-radius: 7px;

    background-color: #fff;
    margin: 10px 20px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

.cards_class {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

form {
    max-width: 300px;
    margin: 0 auto;
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 70px;
    text-align: center;
}

.span-input {
    width: 100%;
}

input,
textarea,
select {
    border-radius: 5px;
    border-width: 1px;
    font-family: 'Baloo Tammudu 2', sans-serif;
    padding: 6px 0 0 5px;
    margin: 2px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #F8AD2A;
    outline: 0;
    box-shadow: 0 0 8px #F8AD2A;
}

::placeholder {
    font-family: 'Baloo Tammudu 2', sans-serif;
    padding-left: 5px;
}

.gender-section {
    margin-top: 6px;
}

input[type="radio"] {
    vertical-align: middle;
    accent-color: #F8AD2A;
}

button {
    background-color: #dccae4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}

button[type="reset"] {
    background-color: #cae6e2;
}

button:hover {
    box-shadow: 1px 1px 3px #888888;
}

.tittel_contact {
    font-size: 35px;
    color: #F8AD2A;
    font-family: Modak, sans-serif;
    text-align: center;
    font-weight: 1;
}

.chat-button {
    position: fixed;
    bottom: 30px;
    /* Afstand vanaf de onderkant van de pagina */
    right: 30px;
    background-color: #F8AD2A;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* Backgrounds */
.background_index>header {
    background-color: #e9e6f4;
}

.background_index>footer {
    background-color: #daecdc;
}

.background_contact {
    background-image: url('image/wallpaper/contact_wal_left.png'), url('image/wallpaper/contact_wal_right.png');
    background-size: contain, contain;
    background-position: top left, top right;
    background-repeat: no-repeat, no-repeat;
}

@media screen and (max-width: 626px) {
    .background_contact {
        background-size: contain, 0;
    }

}