body {
    margin: 0;
    background-color: #ffffff00;
}

nav a.logo {
    padding: 0;
}

nav img {
    height: 80px;
    margin-bottom: -80px;
}

nav {
    text-align: center;
    width: 100%;
    background-color: #fffdfd;
}

nav ul {
    list-style: none;
    text-align: middle;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-family: Modak;
    font-size: 1.2em;
    line-height: 40px;
    height: auto;
    margin: 5px 10%;
}

nav li:first-child {
    float: left;
}

nav li:last-child {
    float: right;
}

nav a {
    display: inline;
    color: #F8AD2A;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff00;
    color: rgba(255, 255, 255, 0.172);
}